@{
    ViewData["Title"] = "Reports and Analytics";
}

<div class="container p-4">
    <p class="fs-3   fw-bold">Reports and Analytics</p>
    
    <div class="row">
        <div class="col-md-6">
            <p>Monthly Sales Report</p>
            <canvas id="salesChart" width="400" height="200"></canvas>
        </div>
    </div>
</div>
