@{
    Layout = "~/Views/Auth/_AuthLayout.cshtml";
    ViewData["Title"] = "Password Recovery";
}

<div class="card p-5 w-50">
  <div class="card-header">
    <h5 class="card-title fs-1 text-center fw-bold text-primary">Password Recovery</h5>
  </div>
    <div class="card-body">
        <form>
            <!-- Email input -->
          <div data-mdb-input-init class="form-outline mb-4">
                <input type="email" id="email" class="form-control" />
                <label class="form-label" for="email">Email</label>
            </div>
            <!-- Submit button -->
            <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block">Recover Password</button>
        </form>
    </div>
</div>
