@{
    Layout = "~/Views/Auth/_AuthLayout.cshtml";
    ViewData["Title"] = "Password Recovery Confirmation";
}

<div class="card p-5 w-50">
     <div class="card-header">
    <h5 class="card-title fs-1 text-center fw-bold text-primary">Recovery Confirmation</h5>
  </div>
    <div class="card-body">
        <form>
            <!-- Confirmation code input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <input type="text" id="confirmation-code" class="form-control" />
                <label class="form-label" for="confirmation-code">Confirmation Code</label>
            </div>
            <!-- New password input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <input type="password" id="new-password" class="form-control" />
                <label class="form-label" for="new-password">New Password</label>
            </div>
            <!-- Confirm new password input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <input type="password" id="confirm-new-password" class="form-control" />
                <label class="form-label" for="confirm-new-password">Confirm New Password</label>
            </div>
            <!-- Submit button -->
            <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block">Confirm Password Recovery</button>
        </form>
    </div>
</div>
